body
{

    
    background: url("bg2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
h1{

    color:rgb(255, 255, 255);
    text-align:center;
    font-size:60px;

}

.q
{

    color:white;
    font-size:25px;
    margin-left: auto;
    margin-left: auto;
}
#form
{
    text-align:center;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;

  }
  